/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", monospace;
  --font-weight-normal: 410;
  --font-weight-bold: 715;
  --grid-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
  --container-width: clamp(375px, 260.56px + 30.52vw, 700px);
  --text-stroke-color: #fff;
  --contour-color: #000;
  --animation-fill-color: red;
  --accent-color: black;
}
